---
import Link from "@components/Link.astro";
---

<div class="flex flex-col gap-4">
  <h3 class='text-xl font-bold'>Reference</h3>
  <p>Links to other blogs and resources that I find helpful.</p>
  <ul class="flex flex-col gap-2">
    <li>
      <Link href="https://www.google.com">Google</Link>
    </li>
  </ul>
</div>
